{% extends "yonetici.html" %}

{% block sayfa_baslik %}
Yönetici Sayfası - Gider Güncelleme ve Silme Sayfası
{% endblock %}

{% block icerik_baslik %}
 Apartman Yönetim Sistemi Otomasyonu Gider Güncelleme ve Silme Sayfasındasınız {{ yonetici.uye_adi_soyadi.upper() }}<br>
    Aşağıda Apartmanınıza Kayıtlı Bulunan Giderlerin Listesini Bulabilirsiniz
{% endblock %}







    {% block icerik %}
    <div class="alert alert-success" role="alert">
    Sisteme Kayıtlı bulunan Toplam Gider Sayısı : {{ gider.__len__() }} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Gideri İşleyen Adı Soyadı</th>
      <th scope="col">Gider Tutarı</th>
      <th scope="col">Gider Tarihi</th>
      <th scope="col">Gider Güncelle</th>
      <th scope="col">Gider Sil</th>
    </tr>
  </thead>
  <tbody>
  {% for gider in giderler %}
    <tr>
      <th scope="row">{{gider.gider_id}}</th>
      <td>{{ gider.gideryonetici.uye_adi_soyadi }}</td>
      <td>{{ gider.gider_tutari}}</td>
      <th>{{ gider.gider_tarihi}}</th>
      <th><a href= "/gider_guncelle/{{gider.gider_id}}" >Gider Güncelle</a></th>
      <th><a href="/gider_sil/{{gider.gider_id}}" >Gider Sil</a></th>

    </tr>
    {% endfor %}
    </table>



    {% endblock %}


