{% extends "uye.html" %}

{% block sayfa_baslik %}
Üye Sayfası - Duyuru Listeleme Sayfası
{% endblock %}

{% block icerik_baslik %}
 Dağ Apartmanı Yönetim Sistemi Otomasyonu Duyuru Listeleme Sayfasındasınız {{ uye.uye_adi_soyadi.upper() }}<br>
    Aşağıda Sistemde Kayıtlı Bulunan Duyuruların Listesini Bulabilirsiniz
{% endblock %}







    {% block icerik %}
    <div class="alert alert-success" role="alert">
    Apartmana Kayıtlı bulunan Toplam Duyuru Sayısı : {{ duyurular.__len__() }} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Duyuru Başlığı</th>
      <th scope="col">Duyuruyu Yapan</th>
      <th scope="col">Duyuru Tarihi</th>
        <th scope="col">Duyuru Bağlantısı</th>


    </tr>
  </thead>
  <tbody>
  {% for duyuru in duyurular %}
    <tr>
      <th scope="row">{{ duyuru.duyuru_id}}</th>
      <td>{{ duyuru.duyuru_basligi }}</td>

              <td>{{ duyuru.duyuruyonetici.uye_adi_soyadi}}</td>
      <th>{{ duyuru.duyuru_tarihi}}</th>
        <th><a  href="/uye_duyuru_goruntuleme/{{ duyuru.duyuru_id}}">Duyuru Görüntüle</a></th>
    </tr>
    {% endfor %}
    </table>



    {% endblock %}


