{% extends "uye.html" %}

{% block sayfa_baslik %}
Üye Sayfası - Üye İstek Listesi
{% endblock %}

{% block icerik_baslik %}
 Apartman Yönetim Sistemi Otomasyonu Üye İstek Listeleme Sayfasındasınız {{ uye.uye_adi_soyadi.upper() }}<br>

{% endblock %}


{% block icerik %}
    

    <div class="alert alert-success" role="alert">
    Sistemde Kayıtlı Bulunan Toplam İstek Sayısı : {{ istekler.__len__() }} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">İstek Başlığı</th>
      <th scope="col">İstekte Bulunan</th>
      <th scope="col">İstek Tarihi</th>
        <th scope="col">İstek Detayı</th>
        <th scope="col">İstek Sil</th>


    </tr>
  </thead>
  <tbody>
  {% for istek in istekler %}
    <tr>
      <th scope="row">{{ istek.sikayet_id}}</th>
      <td>{{ istek.sikayet_basligi}}</td>

              <td>{{ istek.sikayetuye.uye_adi_soyadi}}</td>
      <th>{{ istek.sikayet_tarihi}}</th>
        <th><a  href="/uye_istek_goruntuleme/{{ istek.sikayet_id}}" >İstek Görüntüle</a></th>
    <th><a  href="/uye_istek_sil/{{ istek.sikayet_id}}" >İsteği Sil</a></th>
    </tr>
    {% endfor %}
    </table>

{% endblock %}


