{% extends "uye.html" %}

{% block sayfa_baslik %}
Üye Sayfası - İstek Ekleme Sayfası
{% endblock %}

{% block icerik_baslik %}
 Apartman Yönetim Sistemi Otomasyonu İstek Ekleme Sayfasındasınız {{ uye.uye_adi_soyadi.upper() }}<br>
    Aşağıdaki Formu Doldurarak Yeni İstek Sisteme Ekleyebilirsiniz
{% endblock %}


{% block icerik %}
    
    {% if mesaj %}

    <div class="alert alert-success" role="alert">

 Duyuru Ekleme İşleminiz {{ mesaj }} İle Sonuçlanmıştır<br>
 Yukarıda Bulunan Menü Aracılığı ile Yapmak İstediğiniz İşlemi Seçebilirsiniz


</div>
     {% else %}

        <form action="uye_istek_ekle" method="post">
  <div class="form-row">
    <div class="form-group col-md-8">
      <label>İstek Başlığı</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="İstek Başlığı" name="sikayet_basligi">
    </div>

          <div class="form-group col-md-4">
      <label >İstek Tarihi(Gün/Ay/Yıl)</label>

      <input type="text" class="form-control" id="inputPassword4"  name="sikayet_tarihi" value={{ tarih }} >



    </div>



  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputState">İstek Açıklama</label>

        <textarea class="form-control" rows="3" id="comment" placeholder="İstek Açıklaması" name="sikayet_aciklama"></textarea>
    </div>

    <div class="form-group col-md-4" >
  <br>
      <button type="submit" class="btn btn-primary" >İstek Ekle</button>
    </div>
  </div>


</form>

    {% endif %}
{% endblock %}


