{% extends "uye.html" %}

{% block sayfa_baslik %}
Üye Sayfası - Üye Aidat Listeleme Sayfası
{% endblock %}

{% block icerik_baslik %}
Apartman Yönetim Sistemi Otomasyonunda Size Aidat Listeleme Sayfasındasınız {{ uye.uye_adi_soyadi.upper() }}<br>
    Aşağıda Sistemde Kayıtlı Bulunan Size Ait Aidatların Listesini Bulabilirsiniz
{% endblock %}







    {% block icerik %}
    <div class="alert alert-success" role="alert">
    Sistemde Kayıtlı Bulunan Toplam Aidat Sayısı : {{ aidatlar.__len__() }} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Üye Adı Soyadı</th>
      <th scope="col">Aidat Tutarı</th>
              <th scope="col">Aidat Açıklaması</th>
      <th scope="col">Aidat Tarihi</th>

    </tr>
  </thead>
  <tbody>
  {% for aidat in aidatlar %}
    <tr>
      <th scope="row">{{ aidat.aidat_id}}</th>
      <td>{{ aidat.aidatuye.uye_adi_soyadi }}</td>
      <td>{{ aidat.aidat_tutari}}</td>
      <td>{{ aidat.aidat_aciklamasi}}</td>
      <th>{{ aidat.aidat_tarihi}}</th>

    </tr>
    {% endfor %}
    </table>



    {% endblock %}


