{% extends "yonetici.html" %}

{% block sayfa_baslik %}
Yönetici Sayfası - Üye ekleme Sayfası
{% endblock %}

{% block icerik_baslik %}
 Dağ Apartmanı Yönetim Sistemi Otomasyonu Üye Ekleme Sayfasındasınız {{ yonetici.uye_adi_soyadi.upper() }}<br>
    Aşağıdaki Formu Doldurarak Yeni Üye Sisteme Ekleyebilirsiniz
{% endblock %}


{% block icerik %}
    
    {% if mesaj %}

    <div class="alert alert-success" role="alert">

 Üye Ekleme İşleminiz {{ mesaj }} İle Sonuçlanmıştır<br>
    Yukarıda Bulunan Menü Aracılığı ile Yapmak İstediğiniz İşlemi Seçebilirsiniz


</div>
     {% else %}

        <form action="uye_ekle" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Üye Adı Soyadı</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Üye Adı Soyadı" name="uye_adi_soyadi">
    </div>
    <div class="form-group col-md-4">
      <label >Üye TC No</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Üye TC No" name="uye_tc">
    </div>
          <div class="form-group col-md-4">
      <label >Üye Şifre</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Şifre" name="uye_sifre">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label >Telefon</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Telefon" name="uye_tel">
    </div>
    <div class="form-group col-md-4">
      <label >Adres</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Adres" name="uye_adres">
    </div>
         <div class="form-group col-md-4">
      <label >E mail</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="uye_email" name="uye_email">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Üye Durum</label>
      <select id="inputState" class="form-control" name="uye_durum">
        <option selected value="0">Aktif</option>
        <option value="1">Pasif</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Apartmandaki Pozisyonu</label>
      <select id="inputState" class="form-control" name="uye_yonetim">
        <option selected value="2">Üye</option>
        <option value="1">Yönetici</option>
          <option value="0">Başkan</option>
      </select>
    </div>
    <div class="form-group col-md-4" >
  <br>
      <button type="submit" class="btn btn-primary" >Üye Ekle</button>
    </div>
  </div>


</form>

    {% endif %}



{% endblock %}