{% extends "yonetici.html" %}

{% block sayfa_baslik %}
Yönetici Sayfası - Yönetici İstek Görüntüleme Sayfasındasınız
{% endblock %}

{% block icerik_baslik %}
 Apartman Yönetim Sistemi Otomasyonu Yönetici İstek Görüntüleme Sayfasındasınız {{ yonetici.uye_adi_soyadi.upper() }}<br>

{% endblock %}


{% block icerik %}
    

        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">İstek Başlığı</th>
      <th scope="col">İstekte Bulunan</th>
      <th scope="col">İstek Açıklaması</th>
        <th scope="col">İstek Tarihi</th>

    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">{{ istek.sikayet_id}}</th>
      <td>{{ istek.sikayet_basligi }}</td>

              <td>{{ istek.sikayetuye.uye_adi_soyadi}}</td>
        <td>{{ istek.sikayet_aciklama }}</td>
      <th>{{ istek.sikayet_tarihi}}</th>

    </tr>

    </table>

{% endblock %}


