{% extends "yonetici.html" %}

{% block sayfa_baslik %}
Yönetici Sayfası - Yönetici Üye Aidatları Listesi
{% endblock %}

{% block icerik_baslik %}
Dağ Apartmanı Yönetim Sistemi Otomasyonu Yönetici Aidat Listeleme Sayfasındasınız {{ yonetici.uye_adi_soyadi.upper() }}<br>

{% endblock %}


{% block icerik %}
    

    <div class="alert alert-success" role="alert">
    Sistemde Kayıtlı Bulunan Toplam Aidat Sayısı : {{ aidatlar.__len__() }} <br>
    </div>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Üye Adı Soyadı</th>
      <th scope="col">Aidat Tutarı</th>
        <th scope="col">Aidat Açıklaması</th>
      <th scope="col">Aidat Tarihi</th>

    </tr>
  </thead>
  <tbody>
  {% for aidat in aidatlar %}
    <tr>
      <th scope="row">{{ aidat.aidat_id}}</th>
      <td>{{ aidat.aidatuye.uye_adi_soyadi }}</td>
      <td>{{ aidat.aidat_tutari}}</td>
              <td>{{ aidat.aidat_aciklama}}</td>
      <th>{{ aidat.aidat_tarihi}}</th>

    </tr>
    {% endfor %}
    </table>

{% endblock %}


